<html>
	<head>
		<title><%= t :admin_panel -%></title>
	</head>
	<body>
		<h1><%= t :admin_panel -%></h1>
		<%= link_to (t :sign_out), destroy_admin_session_path %>
		<hr />
		<%= yield %>
	</body>
</html>
