<ul>
    <li><%= link_to (t :all_categories), :controller => "home", :action => "index" -%></li>
    <% @categories.each do |c| -%>
    <li><%= link_to c.name, :controller => "categories", :action => "show", :id => c -%></li>
    <% end -%>
</ul>
