<% content_for :product_list do %>
<h3>Kategoria <%= h @category.name %></h3>
<%= render :partial => "shared/list_products", :locals => { :products => @products, :show_category => false } %>
<% end %>
